<title>Login</title>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <div class="logo-container">
    <img class="logo" src="../../../assets/logo.png" alt="logo image"/>
  </div>
  <div class="container">
    <span class="p-float-label">
      <input id="username" type="text" pInputText required formControlName="username">
      <label for="username">Username</label>
    </span>
    <span class="p-float-label">
      <input id="pw" type="password" pInputText required formControlName="password">
      <label for="pw">Password</label>
    </span>
    <span class="p-error" *ngIf="showError">Username or password is incorrect. Make sure both username and password are valid</span>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Create account" routerLink="/register" ></button>
    <button pButton pRipple type="submit" label="Sign in" [disabled]="formValidation==='INVALID'"></button>
  </div>
</form>


