form {
  border: 4px solid #f1f1f1;
  width: 25%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h2{
    color: dodgerblue;
  }
  .logo-container{
    background-color: #f1f1f1;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    border-radius: 40px;

    .logo{
      width: 80%;
    }
  }
  .container{
    padding: 16px;
    border-radius: 5px;
    .p-float-label{
      input{
        width: 100%;
        padding: 12px 20px;
        margin: 20px 0;
        display: grid;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
      }
    }
  }
  .buttons-container{
    background-color: rgba(205, 205, 200, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    button {
      background-color: dodgerblue;
      padding: 14px 20px;
      margin: 8px 0;
      width: 30%;
      border-radius: 7px;
    }
    button:hover {
      opacity: 0.8;
    }
  }
}
