<title>Account details</title>
<div class="main-container">
  <h1>Account details</h1>
    <div class="info-container">Username:
      <div>
        <span class="info">{{username}}</span>
        <button pButton pRipple class="pi pi-pencil" type="button"(click)="changeUsername()" routerLink="/user/change-user-details" routerLinkActive="routerLinkActive"></button>
      </div>
    </div>
    <div class="info-container">Email:
      <div>
        <span class="info">{{email}}</span>
        <button pButton pRipple class="pi pi-pencil" type="button" (click)="changeEmail()" routerLink="/user/change-user-details" routerLinkActive="routerLinkActive"></button>
      </div>
    </div>
    <div class="info-container">Account created on:
      <div>
        <span class="info" >{{creationDate}}</span>
      </div>
    </div>
  <div class="change-pw">
    <span (click)="changePassword()" routerLink="/user/change-user-details" routerLinkActive="routerLinkActive">Change password</span>
  </div>
</div>


