<form [formGroup]="userForm">
  <div class="heading-container">
    <div *ngIf="accountDetailsType == null"><h1>Register</h1></div>
  </div>
  <div class="logo-container" *ngIf="!!accountDetailsType">
    <img class="logo" src="../../../assets/logo.png" alt="logo image"/>
  </div>
  <div class="container">
    <h2 *ngIf="!!accountDetailsType">Change {{accountDetailsType}}</h2>
    <div class="username-container" *ngIf="accountDetailsType == 'username' || accountDetailsType == null">
      <span class="p-float-label">
        <input id="username" type="text" required pInputText formControlName="username">
        <label for="username" *ngIf="accountDetailsType == 'username'" >New username</label>
        <label for="username" *ngIf="accountDetailsType == null" >Username</label>
      </span>
      <span class="p-error" *ngIf="userForm.controls.username.hasError('pattern')">
        Username must contain only letters and numbers
      </span>
      <span class="p-error" *ngIf="userForm.controls.username.hasError('minlength')">
        Min length: 5
    </span>
      <span class="p-error" *ngIf="userForm.controls.username.hasError('maxlength')">
        Max length reached!
    </span>
    </div>
    <div class="email-container" *ngIf="accountDetailsType == 'email' || accountDetailsType == null">
      <span class="p-float-label">
        <input id="email" type="text" required pInputText formControlName="email">
        <label for="email" *ngIf="accountDetailsType == 'email'">New email</label>
        <label for="email" *ngIf="accountDetailsType == null">Email</label>
        <span class="p-error" *ngIf="userForm.controls.email.hasError('email')">Invalid mail!</span>
      </span>
    </div>
    <div class="password-container" *ngIf="accountDetailsType == 'password' || accountDetailsType == null ">
      <span class="p-float-label">
        <input id="pw" type="password" required pInputText formControlName="password">
        <label for="pw" *ngIf="accountDetailsType == 'password'" >New Password</label>
        <label for="pw" *ngIf="accountDetailsType == null" >Password</label>
        </span>
      <span class="p-error" *ngIf="userForm.controls.password.hasError('pattern')">
          Password must contain at least one uppercase,one lowercase, one number and one symbol(@$!%*?&)
      </span>
    </div>
    <div class ="confirm-password" *ngIf="accountDetailsType == 'password' || accountDetailsType == null ">
      <span class="p-float-label">
        <input id="c-pw" type="password" required pInputText formControlName="confirmPassword">
        <label for="c-pw">Confirm password</label>
      </span>
      <span class="p-error" *ngIf="userForm.controls.password.value != userForm.controls.confirmPassword.value" >Passwords do not match
      </span>
    </div>
    <span class="p-error">{{showError}}</span>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Cancel" routerLink="/user/account-details"></button>
    <button pButton pRipple type="button" label="Create" (click)="create()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="accountDetailsType == null"></button>
    <button pButton pRipple type="button" label="Save" (click)="save()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="!!accountDetailsType"></button>
  </div>
</form>
