  <p-card>
    <ng-template pTemplate="title">
      Product
    </ng-template>
    <span class="p-error" *ngIf="formValidation==='INVALID'">Fields are required without SUPPLIER</span>
    <ng-template class="ceva" pTemplate="content" [formGroup]="productForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="pzn">Pzn</label>
          <input id="pzn" type="text" pInputText formControlName="pzn" [readOnly]="editProduct">
          <span class="p-error" *ngIf="productForm.controls.pzn.hasError('pattern')">
                Invalid PZN!
              </span>
          <span class="p-error" *ngIf="productForm.controls.pzn.hasError('maxlength')">
                Max length: 8
              </span>
        </div>
        <div class="p-field">
          <label for="supplier">Supplier</label>
          <input id="supplier" type="text" pInputText formControlName="supplier">
          <span class="p-error" *ngIf="productForm.controls.supplier.hasError('maxlength')">
                 Max length: 100
              </span>
        </div>
        <div class="p-field">
          <label for="product-name">Product Name</label>
          <input id="product-name" type="text" pInputText formControlName="productName">
          <span class="p-error" *ngIf="productForm.controls.productName.hasError('maxlength')">
                Max length: 100
              </span>
        </div>
        <div class="p-field">
          <label for="strength">Strength</label>
          <input id="strength" type="text" pInputText formControlName="strength">
          <span class="p-error" *ngIf="productForm.controls.strength.hasError('maxlength')">
                Max length: 100
              </span>
        </div>
        <div class="p-field">
          <label for="package-size">Package Size</label>
          <input id="package-size" type="text" pInputText formControlName="packageSize">
          <span class="p-error" *ngIf="productForm.controls.packageSize.hasError('maxlength')">
                Max length: 20
              </span>
        </div>
        <div class="p-field">
          <label for="unit">Unit</label>
          <input id="unit" type="text" pInputText formControlName="unit">
          <span class="p-error" *ngIf="productForm.controls.unit.hasError('maxlength')">
                Max length: 2
              </span>
        </div>
      </div>
      <button pButton pRipple label="Next" class="p-button-text blue" *ngIf="!editProduct" [disabled]="formValidation==='INVALID'"(click)="onNext()"></button>
      <button pButton pRipple label="Save" class="p-button-text blue" *ngIf="editProduct" [disabled]="formValidation==='INVALID'"(click)="saveProduct()"></button>
    </ng-template>
  </p-card>
<!--</div>-->
