.main{
  width: 50%;
  display: grid;
  grid-gap: 30px;
  margin: 0 auto;
  .stock-buttons{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    button{
      background: dodgerblue;
    }
    button:hover{
      opacity: 0.5;
    }
  }
  .next-button{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0 auto;
    button{
      background: dodgerblue;
    }
    button:hover{
      opacity: 0.5;
    }
  }
}
