<title>Register</title>
<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <div class="heading-container">
    <div><h1>Register</h1></div>
  </div>
  <div class="fields-container">
    <span class="p-float-label">
      <input id="username" type="text" pInputText formControlName="username">
      <label for="username">Username</label>
    </span>
    <span class="p-error" *ngIf="registerForm.controls.username.hasError('pattern')">
        Username must contain only letters and numbers
    </span>
    <span class="p-float-label">
      <input id="email" type="text" pInputText formControlName="email">
      <label for="email">Email</label>
    </span>
    <span class="p-error" *ngIf="registerForm.controls.email.hasError('email')">Invalid mail!</span>
    <span class="p-float-label">
      <input id="password" type="password" pInputText formControlName="password">
      <label for="password">Password</label>
    </span>
    <span class="p-error" *ngIf="registerForm.controls.password.hasError('pattern')">
        Password must contain at least one uppercase,one lowercase, one number and one symbol(@$!%*?&) </span>
    <span class="p-float-label">
      <input id="confirm-password" type="password" pInputText formControlName="confirmPassword">
      <label for="confirm-password">Confirm password</label>
    </span>
    <span class="p-error" *ngIf="registerForm.controls.password.value != registerForm.controls.confirmPassword.value" >Passwords do not match</span>
    <span class="p-error">{{showError}}</span>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Cancel" routerLink="/home"></button>
    <button pButton pRipple type="submit" label="Create" [disabled]="formValidation==='INVALID' || registerForm.controls.password.value != registerForm.controls.confirmPassword.value"></button>
  </div>
</form>
